.open {
  display: block !important;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.flex-col {
  display: flex;
  flex-direction: column;
  box-shadow: black;
}

.flex-row {
  flex-direction: row;
  display: flex;
  margin: 30px 5vw;
}

.flex-text {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.flex-text:nth-child(even) {
  margin: 0 20px 0 80px;
}

body {
  font-family: "Lato", sans-serif !important;
}

hr {
  width: 50vw;
  height: 3px !important;
  border-radius: 1px;
}

button:focus {
  outline: none !important;
}

ul {
  list-style-type: none;
}

.hide_filters {
  border: none;
  background: none;
  color: #85bc23;
  margin: 0 0 20px 0;
}

.slideshow__container {
  max-width: 90vw;
  position: relative;
  margin: auto;
}
.slideshow__slides {
  display: none;
}
.slideshow__slides img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
}
.slideshow__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  line-height: 1.3;
  position: absolute;
  top: 8%;
  margin-left: 10%;
  margin-right: 20%;
}
.slideshow__caption {
  color: white;
  position: absolute;
  top: 30%;
  margin: 20px 10% 0 10%;
  font-size: 14px;
  hyphens: auto;
}
.slideshow__dots {
  display: flex;
  width: 40vw;
  justify-content: center;
  margin: -35px auto 0;
}
.slideshow__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  transition: border 0.1s ease-out;
  margin-right: 20px;
  padding: 5px;
}
.slideshow__btn__container {
  display: flex;
  justify-content: center;
}
.slideshow__btn__container :hover {
  background: white;
}
.slideshow__btn__container :hover a {
  color: #999999;
}
.slideshow__btn {
  font-size: 12px;
  text-align: center;
  position: absolute;
  margin: -90px auto 0 auto;
  border: solid white;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px 30px;
}
.slideshow__btn a {
  text-decoration: none;
  color: white;
}

.header--mobile {
  background-color: white;
}

.header--fullscreen {
  display: none;
  background: white;
}
.header--fullscreen :first-child {
  margin-bottom: 0;
}
.header--fullscreen__list__title {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 15px;
}
.header--fullscreen__list__title:hover {
  color: #85bc23;
}
.header--fullscreen__list {
  display: flex;
}
.header--fullscreen__icons i {
  color: #999999;
  position: relative;
}
.header--fullscreen__icons i:hover {
  color: #85bc23;
}
.header--fullscreen__dropdown {
  display: none;
  background-color: #2d343a;
  padding: 5%;
}
.header--fullscreen__dropdown__list__item {
  text-decoration: none;
  color: white;
  padding: 0 20px 0 0;
  margin-bottom: 10px;
}
.header--fullscreen__dropdown__list__item:hover {
  color: #85bc23;
}
.header--fullscreen__dropdown__image {
  max-width: 25%;
  border-radius: 5px;
  height: auto;
}
.header--fullscreen__dropdown_flex {
  display: flex;
}
.header--fullscreen__dropdown__titles {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
  width: 60%;
  margin-bottom: 20px;
}
.header--fullscreen__dropdown__containers {
  display: flex;
  justify-content: space-between;
}
.header--fullscreen__dropdown__container {
  display: flex;
  flex-direction: column;
}
.header--fullscreen__icons {
  font-size: 24px;
  margin: 10px 0 0 0;
}
.header--fullscreen__icons a {
  margin: 0 20px 0 0;
}

.logo--fullscreen {
  margin-right: auto;
  color: #85bc23;
  display: flex;
}
.logo--fullscreen h1 {
  color: #011947;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 2.4rem;
  margin: 0;
}
.logo--fullscreen__text {
  display: flex;
  flex-direction: column;
  line-height: 0.1rem;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.logo--fullscreen__text a {
  text-decoration: none;
  color: #85bc23;
}
.logo--fullscreen__text a:hover {
  color: #85bc23;
}

.logo {
  min-width: 70px;
  padding: 5px;
}

.dropdown__title1 {
  margin-right: auto;
}

.dropdown__title2 {
  margin-left: auto;
}

.services p {
  margin: 0;
  padding: 0 0 15px 0;
}

.services:hover {
  background-color: #2d343a;
  color: white;
  border-bottom: #85bc23 solid 3px;
  cursor: pointer;
}

.languages a,
.currency a {
  color: #999999;
}

.languages {
  text-decoration: none;
  color: #999999;
  position: relative;
  display: inline-block;
  padding: 15px;
}
.languages:hover {
  color: #85bc23;
}
.languages__item {
  text-decoration: none;
  color: #999999;
}
.languages__item:hover {
  color: #85bc23;
}

.currency {
  position: relative;
  text-decoration: none;
  color: #999999;
  padding: 15px;
}
.currency:hover {
  color: #85bc23;
}
.currency__item {
  text-decoration: none;
  color: #999999;
}
.currency__item:hover {
  color: #85bc23;
}

.currency__dropdown,
.languages__dropdown {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;
  top: 40px;
  background-color: white;
}

.currency__dropdown {
  left: 75%;
  max-width: 80px;
}

.languages__dropdown {
  left: 70%;
  max-width: 60px;
}

.languages:hover ~ .languages__dropdown,
.languages__dropdown:hover {
  display: block;
}

.currency:hover ~ .currency__dropdown,
.currency__dropdown:hover {
  display: block;
}

.active,
.slideshow__dot:hover,
.popular_items__dot:hover {
  border: solid white;
  background-color: rgba(0, 0, 0, 0);
}

.popular_items {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: #2d343a;
  padding-bottom: 50px;
}
.popular_items__container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.popular_items__heading {
  line-height: 0.5;
  text-align: center;
  padding-top: 20px;
  color: white;
}
.popular_items__card {
  width: 18rem;
  margin: 20px 10px;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.popular_items__card img {
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
}
.popular_items__card__price {
  color: #85bc23;
  font-weight: 600;
}
.popular_items__card__btns {
  display: none;
  width: 240px;
  margin: 0 auto;
  border-radius: 25px;
  border: solid #999999 2px;
  font-weight: 600;
}
.popular_items__card__btn1 {
  color: #5dc091;
  border: none;
  background: none;
  border-right: solid #999999 2px;
  padding: 10px;
  font-weight: 600;
}
.popular_items__card__btn2 {
  border: none;
  background: none;
  font-weight: 600;
}
.popular_items__card__btn {
  display: none;
  text-align: center;
  border-radius: 30px;
  border: solid white;
  width: 250px;
  padding: 10px 0 10px 65px;
  margin: 40px auto;
  background: none;
  color: white;
}
.popular_items__card__btn:hover {
  background: white;
  color: #2d343a;
}
.popular_items__card__btn i {
  color: white;
  margin: 5px 15px;
}
.popular_items__card__btn:hover i {
  color: #2d343a;
}
.popular_items__dots {
  position: absolute;
  display: flex;
  width: 100vw;
  margin-top: 540px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.popular_items__dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  opacity: 70%;
  border-radius: 50%;
  transition: border 0.1s ease-out;
  margin-right: 20px;
  padding: 5px;
}

.heading__span {
  display: inline-flex;
  position: relative;
  font-weight: 700;
}

.heading__span::after,
.heading__span::before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid #494949;
  top: 0;
  width: 35vw;
}

.heading__span::before {
  right: 100%;
  margin-right: 15px;
}

.heading__span::after {
  left: 100%;
  margin-left: 15px;
}

header {
  display: flex;
  z-index: 5;
  border-bottom: 1px solid #aaaaaa;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header > li:first-child {
  text-transform: uppercase;
}

.header__icons {
  color: #999999;
}

.logo--mobile {
  margin: auto;
}

.hamburger__logo {
  width: 24px;
  margin-left: 1vw;
}
.hamburger__logo:hover {
  cursor: pointer;
  opacity: 60%;
}
.hamburger__list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #2d343a;
  color: white;
  margin-left: 0;
}
.hamburger__list a {
  display: none;
}
.hamburger__list li {
  font-weight: 600;
}
.hamburger__list li:first-child {
  margin-top: 10px;
}
.hamburger__list li:hover {
  cursor: pointer;
}
.hamburger__list__item {
  text-decoration: none;
  color: white;
}
.hamburger__pic {
  width: 80%;
  margin: 5%;
  border-radius: 5%;
}

.down_icon {
  margin: 10px 5% 0 0;
  width: 10px;
  float: right;
  transform: none;
}

.services .down_icon,
.currency .down_icon,
.languages .down_icon {
  margin: 10px 0 0 14px;
  width: 10px;
  float: right;
  transform: none;
  display: inline;
  fill: #d0d5d0;
  position: relative;
  top: 5px;
}

.up_icon {
  margin: 10px 5% 0 0;
  width: 10px;
  float: right;
  transform: rotate(180deg);
}

.slideshow_ads__container {
  display: flex;
  margin-top: 30px;
}

.ads {
  display: none;
  max-width: 20vw;
  margin-right: auto;
  text-align: center;
}
.ads__banner {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  background: #85bc23 no-repeat url("../images/palm.svg") bottom left/60%;
  height: 55%;
}
.ads__banner__heading {
  font-size: 80px;
  font-weight: 600;
}
.ads__heading {
  font-size: 1.2rem;
  margin-top: 30px;
}
.ads__btn {
  width: 150px;
  margin: 15px auto;
  border-radius: 25px;
  border: solid #3b5b96 2px;
  color: #3b5b96;
  background: white;
  padding: 10px 0 10px 0;
}
.ads__btn i {
  color: #3b5b96;
  padding-right: 10px;
}
.ads__btn:hover {
  color: white;
  background: #3b5b96;
}
.ads__btn:hover i {
  color: white;
}

.banner {
  background: no-repeat url("/Develops/PROJECT/images/banner_small.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__heading {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}
.banner p {
  margin: 10px 10%;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  background-color: #45413e;
  color: #999999;
  hyphens: auto;
}
.benefits__icons {
  max-width: 80px;
}
.benefits__headings {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.fab {
  color: #999999;
}

footer {
  padding: 20px 30px;
  list-style: none;
}
footer ul {
  padding-left: 0;
}
footer li {
  cursor: pointer;
}

.mobile--footer__list__title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 10px;
}
.mobile--footer__list__item {
  text-decoration: none;
  color: black;
  display: none;
  flex-direction: column;
}
.mobile--footer__social {
  margin: 15px;
}
.mobile--footer__social__container {
  display: flex;
  justify-content: center;
}

.mobile__icons {
  display: flex;
  justify-content: center;
  background-color: #2d343a;
  position: relative;
}

.mobile__icon {
  color: #999999;
  margin: 30px 20px 0 30px;
  font-size: 1.5em;
}
.mobile__icon:hover {
  color: #85bc23;
}

.featured {
  display: none;
  padding-top: 30px;
  background-color: #2d343a;
  text-align: center;
  background: #2d343a;
  color: white;
}
.featured h2 {
  font-size: 2rem;
}
.featured__cards {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}
.featured__card {
  color: black;
  width: 18rem;
  margin: 0 auto 30px auto;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.featured__card img {
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
}
.featured__card__title {
  color: #85bc23;
  font-weight: 700;
}
.featured__card__btn {
  display: none;
  text-align: center;
  border-radius: 30px;
  border: solid white;
  width: 250px;
  padding: 10px 0 10px 65px;
  margin: 40px auto;
  background: none;
  color: white;
}
.featured__card__btn:hover {
  background: white;
  color: #2d343a;
}
.featured__card__btn i {
  color: white;
  margin: 5px 15px;
}
.featured__card__btn:hover i {
  color: #2d343a;
}

.controls {
  display: flex;
  margin: auto;
  padding-bottom: 30px;
  cursor: pointer;
}
.controls progress {
  margin: 7px 20px 0 20px;
  width: 200px;
}

.fullscreen--footer {
  display: none;
  justify-content: space-around;
}
.fullscreen--footer__list__item {
  text-decoration: none;
  color: #999999;
}
.fullscreen--footer__list__item:hover {
  color: #85bc23;
}
.fullscreen--footer__list__item:first-child {
  margin-top: 30px;
}
.fullscreen--footer__links {
  display: flex;
  flex-direction: column;
}
.fullscreen--footer__social {
  margin: 15px;
}
.fullscreen--footer__social__container {
  display: flex;
  justify-content: center;
}

.add_and_fav {
  display: none;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 50px;
  z-index: 4;
}

.add {
  border-radius: 50%;
  border: none;
  background: white;
  padding: 18px 20px;
  margin-left: 10px;
}
.add i {
  color: #5dc091;
  font-size: 24px;
}
.add:hover {
  background-color: #e6e0d3;
}

.fav {
  border-radius: 50%;
  border: none;
  background: white;
  padding: 18px 20px;
  margin-left: 10px;
}
.fav i {
  color: #e73c67;
  font-size: 24px;
}
.fav:hover {
  background-color: #e6e0d3;
}

#card2 {
  position: relative;
}

#card2:hover::after {
  content: "";
  background: linear-gradient(#42d6a9, #33c778);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#card2:hover .add_and_fav {
  display: flex;
}

#card3 {
  position: relative;
}
#card3::after {
  content: "";
  background: linear-gradient(#e0729e, #6a4194);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.review {
  color: white;
  position: absolute;
  text-align: left;
  width: 80%;
  z-index: 4;
  top: 380px;
  left: 20px;
}
.review:first-child {
  top: 270px;
}
.review i {
  color: #85bc23;
  padding: 0 20px 0 0;
}

.numbers {
  text-decoration: none;
  color: #85bc23;
  text-align: center;
  position: absolute;
  top: 23px;
  border-radius: 50%;
  border: 1px #85bc23 solid;
  background: none;
  width: 18px;
  height: 18px;
  font-size: 10px;
  margin: 0 0 0 -29px;
}

.error {
  background: #e8e2d6;
}
.error__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.error__section {
  background: white;
  width: 90%;
  margin: 0 auto 50px auto;
  border-radius: 5px;
  padding: 20px 40px 40px 40px;
  justify-self: center;
}
.error__section h2 {
  font-size: 1.25rem;
  font-weight: 700;
}
.error__picture {
  display: none;
  background: no-repeat url(../images/warning.svg) center left/60%;
  width: 70vw;
}
.error__heading {
  margin: auto auto 40px auto;
  text-align: center;
}
.error__redirect {
  text-decoration: none;
  color: #85bc23;
}
.error__redirect:hover {
  color: #999999;
}
.error__search {
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0;
}

.breadcrumbs {
  margin: 40px auto 0 auto;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.breadcrumbs a {
  text-decoration: none;
  color: #85bc23;
  margin: 0 7px;
}
.breadcrumbs a:hover {
  color: #999999;
}

.search_input {
  border: solid #e8e2d6 1.5px;
  border-radius: 25px;
  padding: 5px 15px;
  width: 90%;
  position: relative;
}
.search_input ~ i::before {
  position: absolute;
  right: 20%;
  margin: -13px 0 0 0;
}

.oops--fullscreen {
  color: #85bc23;
  font-size: 72px;
  font-weight: 700;
  margin: 100px;
  text-align: center;
}

.oops--mobile {
  color: #85bc23;
  font-size: 56px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 950px) {
  .search_input ~ i::before {
    right: 18%;
  }

  .error__picture {
    display: flex;
  }

  .oops--mobile {
    display: none;
  }

  .error__section {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }

  .error__section h2 {
    font-size: 1.5rem;
  }
}
.sort {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
}
.sort__container {
  display: flex;
  flex-direction: column;
}
.sort__container > div {
  margin-bottom: 25px;
}
.sort__container > div > label {
  padding: 0 15px 0 0;
}
.sort__dropdown {
  background: white;
  border: solid #999999 2px;
  border-radius: 25px;
  width: 80%;
  text-align: left;
  padding-left: 25px;
}
.sort__dropdown:focus {
  box-shadow: 0 0 0 0.25rem rgba(133, 188, 35, 0.5);
}
.sort__dropdown__item:active {
  color: white;
  background: #85bc23;
}
.sort__color_1, .sort__color_2, .sort__color_3, .sort__color_4, .sort__color_5, .sort__color_6, .sort__color_7, .sort__color_8 {
  border: none;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  padding: 5px;
}
.sort__color_1:active, .sort__color_1:focus, .sort__color_2:active, .sort__color_2:focus, .sort__color_3:active, .sort__color_3:focus, .sort__color_4:active, .sort__color_4:focus, .sort__color_5:active, .sort__color_5:focus, .sort__color_6:active, .sort__color_6:focus, .sort__color_7:active, .sort__color_7:focus, .sort__color_8:active, .sort__color_8:focus {
  border: solid black 2px;
}
.sort__color_1 {
  background: #e8e2d6;
}
.sort__color_2 {
  background: #4bc1d6;
}
.sort__color_3 {
  background: #262a33;
}
.sort__color_4 {
  background: #85bc23;
}
.sort__color_5 {
  background: #3b5b96;
}
.sort__color_6 {
  background: #e86019;
}
.sort__color_7 {
  background: #d9072d;
}
.sort__color_8 {
  background: #e8e2d6;
}

.category {
  background: #e8e2d6;
  display: flex;
}
.category__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.category__heading {
  text-align: center;
  font-weight: 800;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  position: relative;
  font-size: 32px;
  padding: 0 0 30px 0;
}
.category__heading::before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid white;
  top: 25px;
  width: 35vw;
  right: 100%;
  margin-right: 30px;
}
.category__heading::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid white;
  top: 25px;
  width: 35vw;
  left: 100%;
  margin-left: 30px;
}
.category__featured__card {
  color: black;
  width: 16rem;
  margin: 0 auto 30px auto;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.category__featured__card img {
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
}
.category__featured__card__title {
  color: #85bc23;
  font-weight: 500;
}
.category__featured__card__btn {
  display: none;
  text-align: center;
  border-radius: 30px;
  border: solid white;
  width: 250px;
  padding: 10px 0 10px 65px;
  margin: 40px auto;
  background: none;
  color: white;
}
.category__featured__card__btn:hover {
  background: white;
  color: #2d343a;
}
.category__featured__card__btn i {
  color: white;
  margin: 5px 15px;
}
.category__featured__card__btn:hover i {
  color: #2d343a;
}
.category__load_btn {
  background-color: #85bc23;
  color: white;
  width: 25vw;
  border: none;
  border-radius: 35px;
  padding: 15px;
  margin: 30px auto 40px auto;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.category__load_btn:hover {
  background-color: white;
  color: #85bc23;
}
.category__load_btn__container {
  display: flex;
  margin: auto;
}
.category__cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.category__cards__card {
  color: #37548b;
  width: 16rem;
  margin: 20px 10px;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.category__cards__card img {
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
}
.category__cards__card:hover {
  cursor: pointer;
}
.category__cards__card__price {
  color: #d2d6d9;
  font-weight: 600;
}
.category__cards__card__btn {
  display: none;
  text-align: center;
  border-radius: 30px;
  border: solid white;
  width: 250px;
  padding: 10px 0 10px 65px;
  margin: 40px auto;
  background: none;
  color: white;
}
.category__cards__card__btn:hover {
  background: white;
  color: #2d343a;
}
.category__cards__card__btn i {
  color: white;
  margin: 5px 15px;
}
.category__cards__card__btn:hover i {
  color: #2d343a;
}

.category__cards__card:hover::after {
  content: "";
  background: linear-gradient(#42d6a9, #33c778);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.category__cards__card:hover .add_and_fav {
  display: block;
}

@media screen and (min-width: 700px) {
  .fullscreen--footer {
    display: flex;
  }

  .mobile--footer {
    display: none;
  }

  .mobile__icons {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .popular_items__card__btn {
    display: flex;
  }

  .popular_items__dots {
    display: none;
  }

  .popular_items__heading {
    font-size: larger;
  }

  .popular_items__card__price {
    color: #3b5b96;
  }

  .popular_items__card {
    display: flex !important;
  }

  .featured {
    display: flex;
    flex-direction: column;
  }

  .numbers {
    background: white;
    top: 12px;
    margin: 0 0 0 -8px;
  }

  .sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .sort__container {
    width: calc(100% / 3);
  }

  .category__load_btn {
    margin: 80px auto 70px auto;
  }

  .hide_filters {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .ads {
    display: flex;
    flex-direction: column;
  }

  .header--fullscreen {
    display: flex;
  }

  .header--mobile {
    display: none;
  }

  .slideshow__container {
    max-width: 70vw;
    margin-right: auto;
  }

  .slideshow__heading {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    margin-right: 40%;
  }

  .slideshow__btn {
    margin: -130px auto 0 auto;
    padding: 10px 30px;
    font-size: inherit;
  }

  .slideshow__dots {
    width: 70vw;
    margin: auto;
  }

  .slideshow__caption {
    font-size: 18px;
  }
}
@media (max-width: 1900px) {
  h3 {
    font-size: inherit;
  }
}
@media screen and (min-width: 612px) {
  .banner {
    background-image: url("/Develops/PROJECT/images/banner_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.sign_form {
  background: white;
  position: fixed;
  width: 40%;
  top: 20%;
  left: 30vw;
  z-index: 6;
  border-radius: 5px;
  padding: 40px;
}
.sign_form__heading {
  margin: auto;
  font-weight: 700;
}
.sign_form__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  margin: 0 0 25px 0;
}
.sign_form__email, .sign_form__pass {
  border-radius: 20px;
  border: solid #d2d6d9 2px;
  margin: 10px 0 0 -3px;
  padding: 5px;
  width: 100%;
}
.sign_form__password {
  text-decoration: none;
  color: #85bc23;
  position: absolute;
  top: 172px;
  right: 40px;
  font-weight: 400;
  font-size: 14px;
}
.sign_form__password:hover {
  color: #999999;
}
.sign_form__icon {
  font-size: 16px;
  color: #999999;
  position: absolute;
  right: 60px;
  bottom: 165px;
}
.sign_form__icon:hover {
  cursor: pointer;
}
.sign_form__buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sign_form__btn {
  background: #85bc23;
  color: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin: 0 0 20px 0;
}
.sign_form__btn:hover {
  background-color: white;
  color: #85bc23;
}
.sign_form__acc {
  text-decoration: none;
  color: #85bc23;
  font-weight: 400;
}
.sign_form__acc:hover {
  color: #999999;
}

.cookies {
  background: white;
  position: fixed;
  width: 90%;
  top: 70%;
  left: 5vw;
  z-index: 6;
  border-radius: 5px;
  padding: 10px;
}
.cookies__heading {
  color: #85bc23;
}
.cookies__text {
  color: black;
  position: relative;
}
.cookies__link {
  text-decoration: none;
  color: #85bc23;
}
.cookies__icon {
  position: absolute;
  bottom: 100px;
  right: 20px;
}
.cookies__icon:hover {
  color: #999999;
  cursor: pointer;
}
.cookies__btn {
  width: 100px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #85bc23;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.cookies__btn:hover {
  color: #85bc23;
  background-color: white;
}

/*# sourceMappingURL=new.css.map */
